apiVersion: v1
kind: ConfigMap
metadata:
  name: app1-config
data:
  application.yml: |-
    spring:
      jpa:
        properties:
          hibernate:
            dialect: org.hibernate.dialect.MySQLDialect
    server:
      port: 8081
    app2:
      host: app2-service
    reload:
      test: reloadTestValue44
    file.upload.path: /fusevol
    management.endpoints.web.exposure.include: refresh
    ---
    spring:
      config:
        activate:
          on-profile: database-auth
      datasource:
        url: jdbc:mysql://127.0.0.1:1234/${DB_NAME}
        username: ${DB_USER}
        password: ${DB_PASSWORD}
    ---
    spring:
      config:
        activate:
          on-profile: auto-iam-auth
      datasource:
        url: jdbc:mysql://127.0.0.1:1234/TEST_DB
        username: cloud-sql-service-account
