apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1-cloud-sql-dep
  namespace: my-space
spec:
  replicas: 2
  selector:
    matchLabels:
      app: first-app-cloud-sql
  template:
    metadata:
      labels:
        app: first-app-cloud-sql
    spec:
      serviceAccountName: my-service-account
      # This selector is applicable when pushing the docker image from mac because of mac's arm64 architecture
      # Remove this nodeSelector if your docker image is built and pushed from windows
      nodeSelector:
        kubernetes.io/arch: arm64
      containers:
        - name: application1
          image: prat21/app1
          volumeMounts:
            - name: app1-config-vol
              mountPath: "/config"
              readOnly: true
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: database-auth
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: cloud-sql-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cloud-sql-secret
                  key: password
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: cloud-sql-secret
                  key: database
      initContainers:
        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.20.0
          restartPolicy: Always
          args:
            - "--structured-logs"
            - "--port=1234"
            - "project-f853f150-bd21-4684-91a:us-central1:my-sql-instance"
      volumes:
        - name: app1-config-vol
          configMap:
            name: app1-config
